body {
	font-size: 15px;
	line-height: 24px;
	color: #32425c;
	font-style: normal;
	font-family: 'Cuprum', sans-serif;
	
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/* header */
.main_container {
	min-height: 320px;
	background-color: #f1f5f7;
}
.index {
	margin-bottom: 61px;
}
.header_line_1 {
	max-height: 42px;
	margin-bottom: 38px;
}
.logo {
	float: left;
	clear: both;
}
.header_line_1  a:hover img:first-child,
.header_line_1 a img:last-child {
    display:none;
}
.header_line_1 a:hover img:last-child {
    display: block;
}

.search {
	width: 240px;
	float: left;
}
.search input[type="search"] {
	width: 178px;
	margin: 0;
	padding: 11px 20px;
	padding-right: 10px;
	padding-left: 43px;
	color: #fff;
	font-size: 17px;
	font-family: Curpum Regular, Arial, Helvetica, sans-serif;
	background-color: #293449;
	border: none;
	
}
.search input[type="search"]:hover {
	background-color: #212a3a;
}
.search input:focus {
	border: none;
	outline: 0;
	background-image: url(../img/icon_search_active.png);
	background-color: white;
	color: black;
}
.icon_search {
	background-image: url(../img/icon_search.png);
	background-repeat: no-repeat;
	background-position: 6% 50%;
}
.icon_search:hover {
	background-image: url(../img/icon_search_hover.png);
	background-repeat: no-repeat;
	background-position: 6% 50%;
}
input::-webkit-input-placeholder { 
	color: white; 
}
.icon_search:active {
	background-image: url(../img/icon_search_active.png);
}
.users_panel {
	width: auto;
	float: right;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.users_panel li {
	line-height: 14px;
	font-size: 17px;
	vertical-align: top;
	
}
.users_panel li a {
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	color: white;
	text-decoration: none;
	max-height: 17px;
}
.users_panel li:nth-child(1) a {
	padding-left: 40px;
	padding-right: 18px;
}
.users_panel li:nth-child(2) a {
	padding-left: 40px;
	padding-right: 31px;
}

.users_panel li:nth-child(1) a {
	background-image: url(../img/icon_bookmark.png);
	background-repeat: no-repeat;
	background-position: 10% 49%;
}
.users_panel li:nth-child(2) a {
	background-image: url(../img/icon_basket.png);
	background-repeat: no-repeat;
	background-position: 8% 49%;
}
.users_panel li:nth-child(1) a:hover {
	background-image: url(../img/icon_bookmark_hover.png);
	background-repeat: no-repeat;
	background-position: 10% 49%;
}
.users_panel li:nth-child(2) a:hover {
	background-image: url(../img/icon_basket_hover.png);
	background-repeat: no-repeat;
	background-position: 8% 49%;
}
.users_panel li:nth-child(1) a:active {
	background-color: #161d29;
}
.users_panel li:nth-child(2) a:active {
	background-color: #161d29;
}
.order {
	background-color: #63a63e;
}
.order:hover {
	background-color: #5fbb2d;
}
.order:active {
	background-color: #518534;
} 
.users_panel .order {
	padding-left: 22px;
	padding-right: 22px;
	text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.info_block {
	width: 233px;
	float: left;
	margin-right: 25px;
	margin-left: 52px;
	
}
.info_block p {
	font-size: 16px;
	color: #ee3643;
	line-height: 23px;
	font-style: italic;
	margin: 0;	
}

.head_contacts {
	width: 285px;
	min-height: 68px;
	float: left;
}
.head_tel {
	min-height: 34px;
	border: 3px solid white;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
	background-position: 4% 46%;
}
.head_tel span {
	color: #e9292a;
	font-size: 21px;
	padding-left: 57px;
	padding-right: 20px;
	line-height: 33px;
}
.head_signature {
	color: #32425c;
	font-size: 11px;
}
.users_block {
	float: right;
}
.users_block a {
	display: inline-block;
	padding: 12px 22px;
	background-color: white;
	text-decoration: none;
	font-size: 21px;
	color: black;
	font-weight: bold;
}
.users_block .login {
	position: relative;
	margin-right: 10px;
	padding-left: 50px;
}
.users_block .login {
	background-image: url(../img/icon_login.png);
	background-repeat: no-repeat;
	background-position: 17% 50%;
}
.login:hover, .reg:hover {
	color: #ee3643;
}
.users_block .login:hover {
	background-image: url(../img/icon_login_hover.png);
	background-repeat: no-repeat;
	background-position: 17% 50%;
}
.login:active, .reg:active {
	color: #b2b2b2;
}
.login:active {
	background-image: url(../img/icon_login.png);
	background-repeat: no-repeat;
	background-position: 17% 50%;
}
.header_line_1 {
	background-color: #293449;
	color: white;
}
.main_navigation ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style: none;
	margin-top: 45px;
}
.main_navigation li {
	display: inline-block;
	font-size: 17px;
	vertical-align: top;
	line-height: 20px;
}
.main_navigation li a {
	display: block;
	padding-top: 19px;
	padding-bottom: 14px;
	padding-right: 34px;
	padding-left: 33px;
	color: white;
	text-decoration: none;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}
.main_navigation li a:hover {
	background-color: #293449;
}
.main_navigation li a:active {
	color: #868c95;
}

.main_navigation ul li, .users_panel li, .catalog_user_block li {
	display: inline-block;
}
/* header cotalog */
.catalog_user_block {
	width: 310px;
	float: right;
}
/* main */
.service_name {
	display: inline-block;
	font-size: 24px;
	line-height: 30px;
	color: white;
	margin-top: 27px;
	margin-bottom: 15px;
	margin-left: 24px;
}
.services {
	margin-bottom: 54px;
}
.services_block {
	width: 300px;
	max-height: 128px;
	background-color: gray;
	margin: 6px;
	float: left;
}
.services_block a {
	display: block;
	width: 90px;
	padding: 12px 25px;
	margin-left: 25px;
	margin-bottom: 23px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;	
}
.orange {
	background-color: #f6b22d;
	background-image: url(../img/materials.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.new {
	width: 60px;
	height: 59px;
	float: right;
	background-image: url(../img/new.png);
	background-repeat: no-repeat;
}
.orange a {
	background-color: #dda028;
}
.blue {
	background-color: #4aafde;
	background-image: url(../img/tool.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.blue a {
	background-color: #429dc7;
}
.purple {
	background-color: #cc79d1;
	background-image: url(../img/mechanism.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.purple a {
	background-color: #b76dbc;
}
.green { 
	background-color: #85d179;
	background-image: url(../img/sale.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.green a {
	background-color: #77bc6d;
}
.orange {
	background-color: #f6b22d;
	background-image: url(../img/materials.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.orange_2 {
	background-color: #f6b22d;
	background-image: url(../img/delivery.png);
	background-repeat: no-repeat;
	background-position: 85% 50%
}
.orange_2 a {
	background-color: #dda028;
}


.slider {
	position: relative;
	width: 613px;
	background-color: gray;
	margin: 6px;
	float: left;
}
.slide {
	min-height: 267px;
}
.slide_text {
	width: 242px;
	padding: 26px;
	
}
.slide-title {
	font-size: 36px;
	color: white;
	line-height: 30px;
	text-transform: uppercase;
}
.slide p {
	margin: 0;
	padding-top: 13px;
	color: white;
	font-size: 18px;
	line-height: 24px;
}
.slide .btn {
	display: block;
	width: 105px;
	margin-top: 100px;
	padding: 14px 45px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 3px;
}

.slide:nth-child(1) {
	background-image: url(../img/slide_1.jpg);
}
.slide:nth-child(2) {
	background-image: url(../img/slide_2.jpg);
}
.slide {
	display: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.arrow_right_button {
	position: absolute;
	top: 50%;
	left: 87%;
	width: 55px;
    height: 55px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.arrow_right_button::before {
	content: "";
    position: absolute;
	transform: rotate(45deg) translate(-13px,-13px);
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.arrow_right_button::after {
    content: "";
    position: absolute;
	transform: rotate(-45deg);
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.arrow_left_button {
	position: absolute;
	top: 50%;
	left: right;
	width: 55px;
    height: 55px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.arrow_left_button::before {
	content: "";
    position: absolute;
	transform: rotate(45deg);
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.arrow_left_button::after {
    content: "";
    position: absolute;
	transform: rotate(135deg)translate(-12px,12px);
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.slider input[type="radio"] {
	display: none;
}
.slider_controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background-color: white;
	vertical-align: top;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.slider_controls {
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}
.slider_controls label:nth-child(3){
	display: none;
}
.slider_controls label:nth-child(4){
	display: none;
}
#btn_1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
#btn_2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}
#btn_1:checked ~ .slider_controls label[for="btn_1"],
#btn_2:checked ~ .slider_controls label[for="btn_2"] {
	background-color: #ee3643;
}
#btn_left:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
.popular {
	min-height: 90px;
	background-color: #f7f3ec;
}
.popular .btn {
	display: inline-block;
	float: right;
	min-width: 140px;
	padding: 13px 61px;
	margin: 20px;
	background-color: #ee3643;
	font-size: 14px;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
	color: white;
	border-radius: 3px;

}
.popular h1 {
	margin: 0;
	padding: 33px 31px;
	text-transform: uppercase;
	color: #32425c;
	float: left;
}
.index_item {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.item {
	width: 220px;
	float: left;
}
.marks a {
	width: 220px;
	float: left;
}
.services_bottom {
	background-color: #f2f6f8;
}
.services_bottom ul {
	width: 245px;
	float: left;
}
.delivery {
	width: 285px;
	float: left;
	
}
.services_bottom img {
	float: right;
}
.about_left {
	width: 525px;
	float: left;

}
/* footer*/
.footer_logo {
	width: 220px;
	min-height: 70px;
	float: left;
}
.footer_main_navigation {
	width: 560px;
	min-height: 70px;
	float: right;
}

.footer_main_contacts {
	width: 335px;
	float: left;
}
.foter_navigation {
	width: 540px;
	float: right;
}
.cop {
	width: 250px;
	float: left;
}
.footer_social {
	width: 150px;
	float: left;
}
.footer_contacts {
	width: 160px;
	float: right;
}
/* main catalog */
.breadcrumbs {
	width: 100%
	float: left;
}
.index_content_left {
	width: 220px;
	float: left;
}
.section_title {
	width: 100%;
	float: left;
	background-color: #f2f6f8;
}
.filters_title {
	width:220px;
	float: left;
}
.filters {
	width: 220px;
	min-height: 715px;
	float: left;
}
.index_content_navigation {
	width: 700px;
	float: right;
}
.index_content_navigation ul {
	float: right;
}
.assortment {
	float:right;
}
.index_content_navigation h2 {
	width: 100px;
	float: left;
}
.items {
	width: 700px;
	float: right;
}
.item_box {
	width: 220px;
	min-height: 320px;
	float: left;
	margin: 5px;
	background-color: gray;
}
.index_content_navigation_2 {
	width: 290px;
	float: left;
}
.about {
	width: 100%;
	float: right;
	background-color: #f2f6f8;
}
.item_box img {
	display: block;	
}
/* index and catalog */
.footer_main_navigation li, 
.foter_navigation li, 
.breadcrumbs li,
.index_content_navigation li,
.index_content_navigation_2 li {
	display: inline-block;
}